/**
* Table of Contents:
* 1. Reset
//1.1 Variables
* 2. Classes for JS
* 3. General/Typography
* 4. Layout
* 5. Buttons
* 6. Toggle Switch
* 7. Modal Overrides/Style
*/

/* Reset */
@import 'base/sanitize';

//Variables
$red: #EC7B7C;
$green: #91D1BF;
$white: #F3F1F1;
$black: #5B5050;

/* Classes for JS */
.red {
  background-color: $red;
  background-image: linear-gradient(to bottom, darken($red, 1%), transparent);
}

.green {
  background-color: $green;
  background-image: linear-gradient(to top, darken($green, 15%), transparent);
}

/* General/Typography */
body {
  font-family: 'Montserrat', sans-serif;
  color: $white;  
  position: relative;
}

em {
  color: darken($red, 20%);
  font-style: normal;
}

a {
  color: $white;
  
  &:hover, 
  &:focus {
    color: rgba($white, 0.8);
  }
}

.title {
  font-size: 1.2em;
  line-height: 1.4;
  float: left;
}

#counter {
  height: 20px;
  text-align: right;
}

.toggle-label {
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Layout */

.header {
  overflow: auto;

  @media (min-height: 40px){ //640px
    margin-bottom: 10vh;
  }

  // @media (min-width: 64em) and (min-height: 45px){ //1024px, 720px
    // margin-bottom: 12vh;
  // }
}

.footer {
  position: relative;
  margin-top: 5em;
  text-align: center;

  @media (min-height: 568px){
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;  
  margin: 0 auto;
  padding: 1em 1.5em;
  display: block;

  @media (min-width: 30em){ //480px
    width: 85%;
  }

  @media (min-width: 40em){ //640px
    width: 65%;
  }

  @media (min-width: 45em){ //720px
    width: 55%;
  }

  @media (min-width: 80em){ //1280px
    width: 35%;
  }
}

.control {
  font-family: 'Roboto', sans-serif;  
  padding-top: 2em;
  margin: 4em 0;
  overflow: auto;

  @media (min-height: 40px){ //640px
    margin-top: 0;
  }

  @media (min-width: 80em){ //1280px
  }
}

.toggle {
  float: left;
}

.faq {
  float: right;
  padding: 2px 10px;
  margin-top: -15px;
  border: 3px solid currentColor;  
  border-radius: 50%;
  font-size: 2em;
  line-height: 1;  
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba($white, 0.8);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
}

input {  
  width: 100%;
  margin-bottom: 0.7em;  
  text-align: center;
  font-size: 13vh;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 4px 8px rgba($black, 0.16);

  background-color: $white;
  color: $black;
}

input[disabled]{
  background-color: transparent;
  color: $white;  
}

/* Buttons */

#buttons {
  text-align: center;
}

button {  
  margin: 0 0.5em;
  padding: 15px 30px;  
  background-color: $white;  
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;  
  font-size: 100%;  
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 5px 0 rgba($black, 0.18);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

  &:hover,
  &:focus {
    box-shadow: 0 4px 11px 0 rgba($black, 0.18), 0 4px 15px 0 rgba($black, 0.25);
    transition: box-shadow 0.4s ease-out;
  }
}

.red button {
  color: $red;
}

.green button {
  color: $green;
}

/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  border: 2px solid $white;
  background-color: $red;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -1px;
  bottom: -4px;
  // border: 1px solid;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba($black, 0.16);
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Instructions Modal */

//override modal settings
.dialog {
  color: $black !important;  

  div {
    background-color: $white !important;
  }

  .msg {
    text-align: center !important;
  }

  .msg-header {
    display: block;
    margin-bottom: 0.8em;
    font-size: 1.8em;
  }

  //button
  .ok {
      background-color: $red !important; 
      color: $white !important;
  }  
}

.instructions {
  color: $black;  
  font-family: 'Roboto', sans-serif;  

  h1 {
    margin: 0;
  }

  ul {
    padding-left: 24px;
    text-align: left;
  }
}